<h1>Home#index <%=current_user&.admin?%></h1>
<p>Find me in app/views/home/index.html.erb</p>
  <div data-controller="hello">
  <button data-action="hello#onclicked" data-hello-target="changebg">click me</button>
    <h1 data-hello-target="dropdownContent">hdhsudhsuhdus</h1>
</div>

<div data-controller="text-input">
  <input type="text" data-action="text-input#changed" data-text-input-target="input">
  <h1 data-text-input-target="output"></h1>
</div>

<div data-controller="click">
  <button class="btn-br" data-action="click#onclicked" data-click-target="title">click me now</button>
</div>
